/* body {
  background-color: rgba(0, 0, 0, .1);
} */



.block{
  position: relative;
}
.block h5{
  text-align: center;
  top: 0;
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #333;
}
.block img{
  width: 100%;
}